body {
  min-height: 100vh;
  background-image: linear-gradient(to right top, #dedfda, #d9dad6, #d4d5d2, #cfd0cd, #cacbc9);
  margin: 0;
  font-family: 'Roboto', sans-serif !important;
}

#app {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
